@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Roboto-Bold.ttf') format('ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Roboto-Bold.ttf') format('ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Roboto-Bold.ttf') format('ttf');
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #f4f4f7;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.08;
    color: #2d2d42;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.header {
    position: absolute;
    width: 100%;
}

.wrapper {
    max-width: 1150px;
    padding: 0 15px;
    margin: 0 auto;
}

.navigation {
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.picture__logo__img {
    width: 40px;
    height: 40px;
    margin-left: 26px;
}

.navigation__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-left: 108px;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navigation__link {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 10px;
    color: #f4f4f7;
    padding: 10px;
}

.navigation__link:hover {
    background-color: #64cae1;
    border-radius: 6px;
    transition: all 0.5s;
}

.navigation__button {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-right: 36px
}

.button {
    color: #f4f4f7;
    background: none;
    border: none;
    padding: 10px;
    border-radius: 50%;
}

.button:hover {
    border: 1px solid #ffffff;
}

.button:visited {
    border: 1px solid #ffffff;
}

/* main */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header__background {
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../images/img-header.jpg');
}

.slogans {
    width: 890px;
    margin: 0 auto;
    margin-bottom: 78px;

}

.slogans__big {
    padding-top: 171px;
    font-size: 60px;
    line-height: 1.08;
    font-weight: 900;
    color: #f4f4f7;
    letter-spacing: -4.75px;
    margin-top: 0;
    margin-bottom: 32px;
    margin-left: 54px;
}

.slogans__text {
    width: 680px;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    color: #f4f4f7;
    margin-left: 54px;
}

.write__mail {
    position: relative;
    bottom: 0px;
    left: -16px;
    padding: 22px 200px;
    background: none;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-bottom: none;
    border-left: none;
    color: #ffffff;
}

.write__mail::after {
    display: block;
    content: "";
    position: absolute;
    right: 30px;
    top: 22px;
    background-image: url(../images/next.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 26px;
}

.write__mail:hover::after {
    transform: translateX(15px);
    transition: transform 0.4s;
}

/* секция первая в майне */
.wrapper__color {
    background-color: #ffffff;
    padding-bottom: 127px;
}

.content {
    padding-top: 32px;
    width: 802px;
    margin: 0 auto;
    margin-bottom: 85px;
}

.content__slogan {
    font-size: 60px;
    font-weight: 900;
    line-height: 1.08;
    letter-spacing: -5.75px;
    margin-bottom: 32px;
    margin-left: 10px;
}

.content__text {
    font-size: 30px;
    line-height: 1.33;
    color: #2d2d42;
    margin-left: 10px;
    margin-bottom: -4px;
}

/* Иконки */
.icons__list {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    align-items: baseline;
    margin-left: 180px;
    margin-right: 140px;
    margin-bottom: 46px;
}

.icons__item {
    width: 240px;

}

.icons__item:not(:last-child) {
    margin-right: 72px;
}

.icons__text {
    width: 230px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    color: #2d2d42;
    padding-top: 6px;
}

.icon {
    background-color: #63c9e0;
    padding: 21px 20px 17px 20px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.icon__center {
    background-color: #f47e3d;
    padding: 17px 29px 14px 37px;
    border-radius: 50%;
}

.icon__end {
    background-color: #d04b9b;
    padding: 19px 17px 28px 17px;
    border-radius: 50%;
    margin-left: -4px;
}

.about {
    font-size: 60px;
    font-weight: 900;
    line-height: 1.08;
    letter-spacing: -7.75px;
    color: #c0c6c8;
    width: 780px;
    margin: 0 auto;
    margin-bottom: 78px;
    margin-left: 182px;
}

.about__list {
    width: 880px;
    margin-left: 184px;
    list-style-type: none;
    font-size: 20px;
    line-height: 1.5;
    columns: 380px 2;
    column-gap: 120px;
    padding-left: 0;
    margin-bottom: 34px;
}

.about__list li{
    margin-bottom: 26px;
}
.about__list li::before {
    content: " ";
    width: 30px;
    height: 1px;
    background-color: #64cae1;
    display: block;
    position: relative;
    left: -60px;
    top: 15px;
}



/* секция WORK */

.work__container {
    width: 980px;
    margin-left: 180px;
}

.work {
    font-size: 60px;
    font-weight: 900;
    line-height: 1.08;
    letter-spacing: -0.75px;
    margin-bottom: -4px;
}

.work__text {
    font-size: 30px;
    line-height: 1.33;
    margin-bottom: 90px;
}

.work__container__blu {
    margin-left: -14px;
    margin-right: -14px;
    height: 600px;
    background-image: url('../images/vid-birdieeyes.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 440px;
    position: relative;
}

.work__container__block {
    box-sizing: border-box;
    padding: 40px;
    background-color: #64cae1;
    width: 380px;
    position: absolute;
    left: 200px;
    bottom: 20px;
}

.work_title {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 900;
    line-height: 1.54;
    letter-spacing: 1.73px;
    color: #f4f4f7;
}

.work_container__blu__text {
    width: 270px;
    color: #f4f4f7;
    font-size: 30px;
    line-height: 1.33;
    margin: 0;
}

/* карточки про разные фичи*/
.article {
    width: 580px;
}

article h3 {
    font-size: 13px;
    font-weight: 900;
    line-height: 1.54;
    letter-spacing: 1.73px;
    text-transform: uppercase;
    margin-top: 22px;
}

article p {
    width: 440px;
    font-size: 30px;
    line-height: 1.33;
}

article img {
    display: inline-block;
    max-width: 100%;
    transition: transform 0.4s;
}
article a{
    text-decoration: none;
    color: inherit;
}
article a:hover{
    text-decoration: underline;
}

.cards {
    width: 1180px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: -380px;
    margin-bottom: 70px;
    margin-left: -15px;
}

.picture {
    display: block;
    overflow: hidden;
    width: 580px;
    height: 320px;
}

.cards img:hover {
    transform: scale(1.2);
    transition: transform 0.4s;
}

/* секция людей и баннер */

.our__team {
    background-image: url(../images/img-team-home.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 1180px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 100px;
    overflow: hidden;
}

.our__team:hover {
    transform: scale(1.2);
    transition: transform 0.4s;
}

.content__our__team {
    position: absolute;
    bottom: 10px;
    right: 200px;
    width: 380px;
    background-color: #f4f4f7;
}

.our__team__title {
    width: 300px;
    font-size: 13px;
    font-weight: 900;
    line-height: 1.54;
    letter-spacing: 1.73px;
    text-transform: uppercase;
    margin: 0 auto;
    padding-top: 34px;
    margin-bottom: 46px;
}

.our__team__text {
    width: 300px;
    font-size: 30px;
    line-height: 1.33;
    margin: 0 auto;
    margin-bottom: 122px;
}

/*  */

.inside {
    font-size: 60px;
    line-height: 1.08;
    letter-spacing: -0.75px;
    margin-left: 182px;
    margin-bottom: -6px;
}

.inside__text {
    font-size: 30px;
    line-height: 1.33;
    margin-left: 182px;
    margin-bottom: 90px;
}

.background__inside {
    background-image: url(../images/img-inside-press.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 980px;
    height: 600px;
    margin-left: 186px;
    position: relative;
    margin-bottom: 74px;
}

.press__inside {
    width: 400px;
    background-color: #f4f4f7;
    position: absolute;
    left: -200px;
    bottom: 0;
}

.press__inside__header {
    font-size: 13px;
    font-weight: 900;
    line-height: 1.54;
    letter-spacing: 1.73px;
    margin-top: 29px;
}

.press__inside__text {
    width: 310px;
    font-size: 30px;
    line-height: 1.33;
    margin-bottom: 38px;
}

.press__inside__img {
    margin-bottom: 49px;
    background-color: #d04b9b;
}

.press__inside__button {
    margin: -4px;
}

.press__inside__button button {
    width: 65px;
    background-color: #c0c6c8;
    border: none;
    margin-right: 4px;
}

.press__inside__button button:hover {
    background-color: #2d2d42;
    cursor: pointer;
}
.news__block{
    margin-left: -15px;
    margin-bottom: -5px;
}

.news__block h3 {
    font-size: 13px;
    font-weight: 900;
    line-height: 1.54;
    letter-spacing: 1.73px;
    margin-bottom: 26px;
}

.news__list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.news__list li {
    width: 280px;
    margin-right: 120px;
}

.news__list li:last-child {
    margin-right: 0;
}

.news__list a {
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}

.news__list a:hover {
    text-decoration: underline;
}

.news__list p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 21px;
}

.news__list time {
    font-size: 15px;
    line-height: 1.33;
    color: #93a4a9;
}

/* футер */
.footer {
    background-color: #000000;
    margin-top: 80px;
}

.wrapper__mini {
    width: 980px;
    margin-left: 200px;
    background-image: url(../images/img-map.svg);
    background-repeat: no-repeat;
    background-position: 30% 94%;
}

.contacts__wrapper {
    display: flex;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 75px;
    flex-wrap: wrap;
    margin-left: -14px;
}

footer h2 {
    font-size: 60px;
    font-weight: 900;
    line-height: 1.08;
    letter-spacing: -0.75px;
    color: #f4f4f7;
    margin-right: 194px;
    margin-bottom: 2px;
}

.contacts__list {
    width: 140px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 15px;
    margin-bottom: -34px;
}

.location {
    width: 380px;
    color: #f4f4f7;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 72px;
    position: relative;
    margin-left: -14px;
}

.location::before {
    position: absolute;
    display: block;
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 16px;
    right: -140px;
    background-color: #64cae1;
}

.location::after {
    position: absolute;
    display: block;
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 43px;
    right: -216px;
    background-color: #d04b9b;
}

.wrapper__cities {
    display: flex;
    margin-left: -13px;
    margin-bottom: 10px;
}

.wrapper__cities h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    color: #f4f4f7;
}

.wrapper__cit p {
    color: #f4f4f7;
}

.wrapper__cit {
    width: 420px;
}

.wrapper__cit:first-child {
    margin-right: 78px;
}

.wrapper__cit h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    color: #f4f4f7;
    margin-bottom: 20px;
}

address {
    font-size: 15px;
    font-style: normal;
    line-height: 1.67;
    color: #f4f4f7;
}

address p {
    margin: 0;
}

.mail {
    color: #64cae1;
    text-decoration: none;
}

.tel {
    text-decoration: none;
    color: #f4f4f7;
}

.copyright {
    color: #f4f4f7;
    opacity: 50%;
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 25px;
    text-align: center;
    margin-left: 60px;
}

.button__footer {
    position: relative;
    top: 0;
    left: -15px;
    border: #64cae1;
    width: 580px;
    padding: 25px 200px;
    background-color: #64cae1;
    color: #f4f4f7;
    font-size: 20px;
    line-height: 1.5;
}

.button__footer::after {
    display: block;
    position: absolute;
    background-image: url(../images/next.svg);
    background-repeat: no-repeat;
    top: 26px;
    right: 46px;
    width: 40px;
    height: 26px;
    content: '';
}

.button__footer:hover::after {
    transform: translateX(15px);
    transition: transform 0.4s;
}

@media screen and (max-width:1177px) {
    .navigation__list{
        margin-left: 100px;
    }
    .navigation__link{
        margin-right: 18px;
    }
}

@media screen and (max-width:1115px) {
    .navigation__list{
        margin-left: 76px;
    }
    .navigation__link{
        margin-right: 10px;
    }
    .slogans__big{
        padding-top: 130px;
        font-size: 54px;
    }
    .write__mail {
        padding: 22px 180px
    }
}

@media screen and (max-width:1005px) {
    .navigation__list{
        margin-left: 33px;
    }
    .slogans__big{
        font-size: 52px;
    }
    .write__mail {
        padding: 20px 150px;
    }
}

@media screen and (max-width:963px) {
    .navigation__list{
        margin-left: 10px;
    }
    .slogans__big{
        font-size: 50px;
    }
    .write__mail {
        padding: 20px 150px;
    }
}